<!-- Modal -->
	<div class="modal fade" id="demoModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Demo Video</h4>
				</div>
				<div class="modal-body">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe id="demoVideo" class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/fa4urIJ9X9c" allowfullscreen></iframe>
					</div>
				</div>
					<div class="modal-footer">
					<div style="width: 80%; float:left; text-align:left;">
					Make sure you change your playback quality to HD.  Hover over the video, click on the "Settings" icon on the bottom right, and change the quality to 1080p.
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>